/* Variáveis de fontes */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.font-inter {
  font-family: "Inter", sans-serif;
}

.font-inter-text {
  font-family: "Inter", sans-serif;
  font-size: 12px;
}

.font-bebas-neue {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

.font-bebas-neue-sub {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.font-bebas-neue-tit {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

/* Variáveis de Cor */

:root{
  --cor-0: #F9F9F9;
  --cor-1: #E5E5E5;
  --cor-2: #D9D9D9;
  --cor-3: #010101;
  --cor-4: #BA2621;
  --cor-5: #ec7696;
  --cor-6: #fcadc2;
  --cor-8: #66AA23;
  --cor-7: #8FD772;
  --cor-9: #9821BA;
  --cor-10: #b32349;
}

.branco {
  color: var(--cor-0);
}

.branco-bg {
  background-color: var(--cor-0);
}

.cinza-claro {
  color: var(--cor-1);
}

.cinza-claro-bg {
  background-color: var(--cor-1);
  color: var(--cor-3);
}

.cinza-escuro {
  color: var(--cor-2);
}

.preto-bg {
  background-color: var(--cor-3);
}

.preto {
  color: var(--cor-3);
}

.vermelho {
  color: var(--cor-4);
}

.rosa {
  color: var(--cor-5);
}

.rosa-bg {
  background-color: var(--cor-5);
  color: var(--cor-0);
}

.rosa-claro {
  color: var(--cor-6);
}

.verde {
  color: var(--cor-7);
}

.verde-claro {
  color: var(--cor-8);
}

.roxo {
  color: var(--cor-9);
}

.roxo-bg {
  background-color: var(--cor-9);
  color: var(--cor-0);
}

/* Configurações gerais */

* {
  margin: 0;
  padding: 0
}


/* animação underline em links */
.underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--cor-0);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.4s ease;
}

.underline:hover::after {
  transform: scaleX(1);
}

.botao {
  color: white;
  border-radius: 50; 
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: all 0.3s ease-in-out;
  display: inline-block;
  text-decoration: none;
}

.botao:hover {  
  box-shadow: 0 8px 12px rgba(0,0,0,0.2);
  filter: brightness(1.2);  
  color: #b32349;
}

.saltar {
  transition: all 0.4s ease-in-out;
}

.saltar:hover {
  transform: scale(1.05);
}